In [2]:
student_id='''
                  PIAIC Student ID Card
            Name:Zulkifel Ahmad
            Father Name: Rehmaan
            Roll No:PIAIC56044
            Batch: 3
            center: Bahria University
            
'''
print(student_id)

                  PIAIC Student ID Card
            Name:Zulkifel Ahmad
            Father Name: Rehmaan
            Roll No:PIAIC56044
            Batch: 3
            center: Bahria University

In [4]:
print((2+3)+4+5*4/5)

13.0

In [5]:
a=12
print(id(a))

140736383873120

In [6]:
a=13
b=13
print(id(a),id(b))

140736383873152 140736383873152

In [8]:
name1="tiger"
name2="ramzan"
name3="sher"
print(id(name1),id(name2),id(name3), sep='\t')

1345216905088	1345216904920	1345216904360

In [9]:
name1="tiger"
name2="ramzan"
name3="sher"
print(id(name1),id(name2),id(name3), sep='\n')

1345216905088
1345216904920
1345216904360

In [20]:
name1="tiger"
name2="ramzan"
name3="sher"
print=(name1, name2, name3, )
print(id(name1), id(name2), id(name3), sep='\n',)

TypeError: 'tuple' object is not callable

In [8]:
name_1="tiger"
name_2="ramzan"
name_3="sher"
print( name_1,     name_2,     name_3, sep='\t')
print(id(name_1),id(name_2),id(name_3), sep='\t')

tiger	ramzan	sher
3006173281448	3006173280384	3006173281336

In [15]:
name_1="tiger"
name_2="ramzan"
name_3="sher"
print( name_1,name_2, name_3,id(name_1),id(name_2),id(name_3),  sep='\t')

tiger	ramzan	sher	3006173281448	3006173280384	3006173281336

In [16]:
name_1= "ali khan"
name_2="SHER KHAN"
name_3="zulkifel"
print(name_1.upper())
print(name_2.lower())

ALI KHAN
sher khan

In [17]:
a="5"
b="4"
print(a+b)

54

In [31]:
a=5
b=4
print(a+b)

9

In [23]:
dir(name_1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [24]:
alpha_1="i am alpha and you are beta"
print(alpha_1)

i am alpha and you are beta

In [28]:
alpha_1.casefold()=="i am alpha and you are beta"

True

In [29]:
alpha_2="machine learning, artificial intelligence, deap learning"
print(alpha_2)

machine learning, artificial intelligence, deap learning

In [30]:
alpha_2.casefold()==alpha_2

True

In [33]:
print(alpha_2.upper())

MACHINE LEARNING, ARTIFICIAL INTELLIGENCE, DEAP LEARNING

In [50]:
str9=alpha_2.center(18, "-")

In [9]:
name='Muhammad ali khan '
print(name.count('M'))
print(name.count('ali khan'))

1
1

In [10]:
weight=24
weight/=22
print(weight)

1.0909090909090908

In [11]:
what_left=3%2
print(what_left)

1

In [12]:
age=23
increasing_num=age+1
print(increasing_num)

24

In [13]:
age=10
age+=12
print(age)

22

In [14]:
age=23
age-=22
print(age)

1

In [15]:
resulting_num=((12*2)/2)+5
print(resulting_num)

17.0

In [16]:
assignment_a='''
                name: zulkifel ahmad
                roll No:PIAIC56044
                city: Islamabad
                batch:3'''
print(assignment_a)

                name: zulkifel ahmad
                roll No:PIAIC56044
                city: Islamabad
                batch:3

In [17]:
print(assignment_a.upper())

                NAME: ZULKIFEL AHMAD
                ROLL NO:PIAIC56044
                CITY: ISLAMABAD
                BATCH:3

In [18]:
print(assignment_a.lower())

                name: zulkifel ahmad
                roll no:piaic56044
                city: islamabad
                batch:3

In [20]:
print(assignment_a.center(1))
print(assignment_a.center(2))

                name: zulkifel ahmad
                roll No:PIAIC56044
                city: Islamabad
                batch:3

                name: zulkifel ahmad
                roll No:PIAIC56044
                city: Islamabad
                batch:3

In [21]:
print(assignment_a.count('PIAIC56044'))

1

In [22]:
print(assignment_a.count('i'))
print(assignment_a.count('zulkifel'))

2
1

In [23]:
x=assignment_a
print(x)
print(assignment_a.expandtabs(5))

                name: zulkifel ahmad
                roll No:PIAIC56044
                city: Islamabad
                batch:3

                name: zulkifel ahmad
                roll No:PIAIC56044
                city: Islamabad
                batch:3

In [24]:
name='z\tu\tl\tk\ti\tf\te\tl'
print(name)
print(name.expandtabs(7))

z	u	l	k	i	f	e	l
z      u      l      k      i      f      e      l

In [25]:
print(assignment_a.find('ahmad'))

32

In [26]:
alpha='zulkifel'
print(alpha.replace('kifel', 'al'))

zulal

In [27]:
beta='bahar'
print(beta.replace('bah', 'amaa'))

amaaar

In [28]:
print(assignment_a.encode())

b'\n                name: zulkifel ahmad\n                roll No:PIAIC56044\n                city: Islamabad\n                batch:3'

In [29]:
name='ali'
print(name.encode('ascii'))

b'ali'

In [31]:
print(name.isalpha())

True

In [32]:
print(name.isalnum())
name='ali'
print(name.isalnum())

True
True

In [33]:
print(name)
print(name.isascii())
gama='110'
print(gama.isascii())

ali
True
True

In [34]:
print(name.isdigit())
print(gama.isdigit())

False
True

In [36]:
name_a='zulkifel ahmad'
print(name_a.endswith('ahmad'))
print(name_a.startswith('zulkifel'))
print(name_a.endswith('ahmad',8,13))
print(name_a.endswith('ahmad',7,6))

True
True
False
False